
$baseColor: #ffffff;
$baseBackground: transparent;

.preamble {
  color: $baseColor;
  background-color: $baseBackground;
  position: fixed;
  width: 100%;
  .p-container {
    padding: 0.4rem 4rem 0rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //height: 5.4rem;

    img {
      height: 3.5rem;
    }

    div {
      font-size: 1.2rem;
    }

    .h-left {
      order: 1;
    }

    .h-center {
      order: 2;
      flex: 2 0px;
      div {
        text-align: center;
        margin-top: 2.5%;
      }
    }

    .h-right {
      order: 3;
    }
  }
  
}

a[rel=license] {
  font-weight: bold;
}

div.postamble {
  color: white;
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: 0.8em;
  font-family: sans-serif;

  a {
    color: white;    
  }
  img {
    color: white;
    margin-right: 1em;
    //width: 3em;
    height: 2em;
  }

}



