
body {
  font-family: "Source Sans Pro", sans-serif;
}

.reveal {

  ul {
    list-style-type: square;
    display: block;
  }

  img.image_full {
    width: 65%;
  }

  img.image_full2 {
    width: 50%;
  }

  img[alt="alonzo.png"] {
    margin-bottom: -2.5em;
  }

  p {
    text-align: justify;
    font-size: 0.9em;
  }

  a[href^="./code/"] {
    font-size: 0.6em;
  }

  #sec-title-slide {
    .title {
      //font-size: 200%;
    }
    .author {
      font-size: 130%;
    }
    .date {
      font-size: 100%;
    }
    p.date {
      text-align: center;
      font-size: 80%;
    }

  }

  * {
    //font-family: "Source Sans Pro", sans-serif;
    //line-height: 1em;
    //font-size: 0.9rem;
  }

  code {
    padding: 0em 0.1em;
    font-family: "Source Code Pro", monospace !important;
    font-size: 0.8em;
    max-height: 100% !important;
    font-weight: bold;
    background-color: #383838;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .org-src-container {
    //border-left: 1px solid #cccccc !important;
    font-family: "Source Code Pro", monospace !important;
    font-size: 0.75em;

    .linenr{
      margin-right: 0.2em;
      font-weight: normal;
      font-family: "Source Sans Pro", sans-serif;font-family: ""
    }

    pre, code {
      box-shadow: none;
      border: none;
    }

    pre {
      width: calc(100% - 0.6em);
      font-size: 0.9em !important;
      word-spacing: 0.3em;
      line-height: 1em !important;
    }
  }

}

.hljs {
  background: #111111 !important;
}
