body {
  font-family: "Source Sans Pro", sans-serif; }

.reveal ul {
  list-style-type: square;
  display: block; }
.reveal img.image_full {
  width: 65%; }
.reveal img.image_full2 {
  width: 50%; }
.reveal img[alt="alonzo.png"] {
  margin-bottom: -2.5em; }
.reveal p {
  text-align: justify;
  font-size: 0.9em; }
.reveal a[href^="./code/"] {
  font-size: 0.6em; }
.reveal #sec-title-slide .author {
  font-size: 130%; }
.reveal #sec-title-slide .date {
  font-size: 100%; }
.reveal #sec-title-slide p.date {
  text-align: center;
  font-size: 80%; }
.reveal code {
  padding: 0em 0.1em;
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.8em;
  max-height: 100% !important;
  font-weight: bold;
  background-color: #383838;
  padding-left: 0.2em;
  padding-right: 0.2em; }
.reveal .org-src-container {
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.75em; }
  .reveal .org-src-container .linenr {
    margin-right: 0.2em;
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-family: ""; }
  .reveal .org-src-container pre, .reveal .org-src-container code {
    box-shadow: none;
    border: none; }
  .reveal .org-src-container pre {
    width: calc(100% - 0.6em);
    font-size: 0.9em !important;
    word-spacing: 0.3em;
    line-height: 1em !important; }

.hljs {
  background: #111111 !important; }

/*# sourceMappingURL=stylesheet.css.map */
