doctype html
html
  head
    title Web Page
    link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all"
  body
    div#header
    div#content
      == yield
    div#footer Copyright © #{year} #{author}
