body {
  font-size: 16px;
  font-family: "Arial";
  background-color: #cccccc;

  a {
    color: #ffffff;
    font-weight: bold;
    background-color: #0076ff;
    padding: 0.6em;
    border: 1px solid #0226ff;

    &:hover {
      background-color: #0226ff;
    }
  }
}
